@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section featured{
    <div style="background-color: green">Red</div>
}

<p>Use this area to provide additional information.</p>
